a.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.css-sghohy-MuiButtonBase-root-MuiButton-root {
  margin-bottom: 12px;
  margin-right: 10px;
}
main.MuiBox-root.css-zxdg2z {
  margin-top: 5%;
}

h5.MuiTypography-root.MuiTypography-h5.MuiTypography-alignCenter.css-1hxkzy9-MuiTypography-root {
  text-align: left;
  font-size: 1.3rem;
  font-weight: 600;
  font-family: system-ui;
}

hr.MuiDivider-root.MuiDivider-fullWidth.css-9mgopn-MuiDivider-root {
  margin-bottom: 25px;
}

/* svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
  font-size: 3rem;
} */
.MuiCardContent-root.css-46bh2p-MuiCardContent-root {
  padding-top: 0px;
  padding-bottom: 0px;
}
